*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.navContainer{
    padding: 20px;
    background-color: #5b5fa7;
    display: flex;
    /* grid-template-columns: auto auto auto; */
    justify-content: space-between;
    position: sticky;
    top: 0px;
}

.logo h1{
    background-color: #EC255A;
    color: #FAEDF0;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.4s ease-in-out;
}

.logo h1:hover{
    background-color: #FAEDF0;
    color: #EC255A;
}

.button{
    /* padding: 5px 10px; */
    border-radius: 5px;
    border: none;
    background-color: #EC255A;
    font-weight: bold;
    color: #FAEDF0;
    cursor: pointer;
    font-size: 30px;
    min-width: 150px;
    transition: 0.5s ease;
}

.button:hover{
    background-color: #FAEDF0;
    color: #EC255A;
}

.container{
    background-color: #8488d2;
    /* width: 100vw; */
    height: 100vh;
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* .form{
    background-color: #EC255A;
    width: 50%;
    position: absolute;
    top: 15%;
    left: 25%;
    z-index: -1;
    transition: 1s ease;
    border-radius: 10px;
}

.container .form label{
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin: 10px 6%;
}

.container .form input[type=text]{
    font-size: 15px;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    border: none;
    margin: 0 5%;
}

.container .form input[type=text]:focus{
    outline: none;
}

.container .form .button{
    margin: 2% 40%;
} */

.project-links{
    margin: 20px;
    background-color: #5b5fa4ac;
    /* min-height: 100vh; */
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.project-links .project-link{
    padding: 20px 30px;
    background-color: #ec255a89;
    height:fit-content;
    margin: 20px;
    border-radius: 10px;
    transition: 0.5s;
}

.project-links .project-link:hover{
    background-color: #ec255ad7;
}

.project-links .project-link a{
    text-decoration: none;
    color: #000;
}

