.container{
    width: 500px;
    background: #f4f7f8;
    margin: 20px auto;
    padding: 20px 20px;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}

.container fieldset{
    border: none;
}

.container legend{
    font-size: 1.4em;
}

.container label{
    margin-bottom: 8px;
}

.container input[type=text],
.container input[type=email],
.container textarea,
.containerselect{
    width: 98%;
    margin: 0;
    border-radius: 5px;
    padding: 10px;
    border: none;
    margin-bottom: 20px;
    outline: 0;
    color: #747474;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 5px 5px 10px #797979;
    background-color: #eaeaea;
}

.select{
    width: 100%;
}

.container input[type=text]:focus,
.container input[type=email]:focus,
.container textarea:focus,
.container select:focus{
    background-color: #d8d5d5;
}

.number{
    background-color: rgb(0, 227, 151);
    border-radius: 50% 50% 50% 0;
    padding: 5px 5px;
    height: 30px;
    width: 30px;
    font-size: 0.8em;
    color: floralwhite;
    /* margin: 10px 10px; */
}

input[type=submit]{
    padding: 18px 19px;
    background-color: rgb(3, 233, 156);
    width: 100%;
    border: none;
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    color: #f4f7f8;
}

input[type=submit]:hover{
    background-color: rgb(1, 175, 117);
}